*.swp

# python temporary files
__pycache__
*.pyc
*.egg-info

# virtual environment files
**/venv

# temp files from tools etc
**/.mypy_cache
**/.pytest_cache

# editors
**/.idea
**/.vscode

# build artifacts (cython)
*.o
*.so
*.dylib
*.dll

# cython - specific libraries
ghostwriter/parser/fileparser.c
ghostwriter/parser/*.html

ghostwriter/utils/spec/*.c
ghostwriter/utils/spec/*html

ghostwriter/utils/fhash/*.c
ghostwriter/utils/fhash/*html

ghostwriter/utils/template/*.c
ghostwriter/utils/template/*.html
