*.swp

# python temporary files
__pycache__
*.pyc
*.egg-info

# virtual environment files
**/venv

# temp files from tools etc
**/.mypy_cache
**/.pytest_cache

# editors
**/.idea
**/.vscode

# build artifacts (cython)
*.o
*.so
*.dylib
*.dll
dist/**
build/**

# cython - specific libraries
ghostwriter/parser/*.c
ghostwriter/utils/spec/*.c
ghostwriter/utils/template/*.c
ghostwriter/utils/cogen/*.c

ghostwriter/utils/compile.c
ghostwriter/utils/ctext.c
ghostwriter/utils/cwatch.c
ghostwriter/utils/error.c
ghostwriter/utils/fhash.c
ghostwriter/utils/iwriter.c


ghostwriter/**/*.html